@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Rubik+Mono+One&family=Teko:wght@600&display=swap');
/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    min-height: 100vh;
    min-width: 100vw;
}