<div class="container-fluid p-0 d-flex">

    <!-- Title -->
    <div id="ctnTitle" class="col d-flex align-items-center justify-content-center">
        <h1>Bienvenidos a <span>Unicomer</span></h1>
    </div>


    <div id="ctnForm" class="col d-flex align-items-center justify-content-around flex-column">
        <!-- Logo -->
        <div class="row w-100 text-center">
            <h3 class="text-white">Crea tu cuenta</h3>
        </div>

        <div class="row w-100">

            <div class="container-fluid d-flex align-items-center">
                <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <!-- Username -->
                    <div class="row">
                        <label for="username" class="text-white p-0 mb-2">Nombre de usuario</label>
                        <input type="text" class="p-0" id="username" name="username" [(ngModel)]="usernameInput"
                            required #username="ngModel">
                        <span *ngIf="username.invalid && loginForm.form.touched" class="errorAlert">Campo
                            obligatorio</span>
                    </div>
                    <!-- Password -->
                    <div class="row mt-5">
                        <label for="password" class="text-white p-0 mb-2">Contraseña</label>
                        <input type="password" class="p-0" id="password" name="password" [(ngModel)]="passwordInput"
                            required #password="ngModel">
                        <span *ngIf="password.invalid && loginForm.form.touched" class="errorAlert">Campo
                            obligatorio</span>
                            <span *ngIf="password.value.length > 0 && password.value.length < 8 && loginForm.form.touched" class="errorAlert">
                                La contraseña debe tener al menos 8 caracteres</span>
                    </div>
                    <!-- Button -->
                    <div class="row mt-5">
                        <button [disabled]="loginForm.form.invalid" class="btn btn-light rounded-pill px-3"
                            type="submit">Registro</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Register account link -->
        <div class="row w-100 text-center">
            <p><a class="text-white" routerLink="/login">
                    Volver a la página de inicio
            </a></p>
        </div>
    </div>


</div>