<nav id="navbar"
    class="navbar navbar-expand-lg bg-body-tertiary position-fixed top-0 start-0 align-items-start">
    <div class="container-fluid flex-column flex-nowrap align-items-start  my-4" id="ctnContent">

        <!-- Logo -->
        <h3 class="navbar-brand">LOGO</h3>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse mt-5" id="navbarNav">
            <ul class="navbar-nav d-flex flex-column">

                <li class="nav-item d-flex align-items-baseline">
                    <img class="iconNavbar" src="../../../../assets/home.png" alt="home">
                    <a class="nav-link px-2" aria-current="page" routerLink="/home">Home</a>
                </li>

                <li class="nav-item d-flex align-items-baseline mt-3">
                    <img class="iconNavbar" src="../../../../assets/transferir.png" alt="operaciones"
                        style="height: 18px;">
                    <a class="nav-link px-2" routerLink="/registerOperation">Operaciones</a>
                </li>

                <li class="nav-item d-flex align-items-baseline mt-3">
                    <img class="iconNavbar" src="../../../../assets/registrarCartao.png" alt="registrar tarjeta">
                    <a class="nav-link px-2" aria-disabled="true" routerLink="/registerOperation">Registrar tarjeta</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container position-absolute top-0 end-0 d-flex justify-content-end align-items-center py-2">

    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle p-0" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="iconNavbar p-0" src="../../../../assets/user.png" alt="usuario">
        </a>
        <ul class="dropdown-menu text-small shadow" style="">
          <li><a class="dropdown-item" (click)="logout()">Salir</a></li>
        </ul>
      </div>
</div>

