#navbar {
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    left: 0px;
}

#ctnContent {
    margin-left: 10px;
}


li a {
    font-size: 13px;
}

h3 {
    font-family: 'Rubik Mono One', sans-serif;
    color: #29365E;
}

.iconNavbar {
    height: 17px;
    padding-right: 10px;
}


@media (max-width: 990px) {
    #navbar {
        width: 97px;
    }
    
}
