<nav id="navbar"
    class="navbar navbar-expand-lg bg-body-tertiary position-absolute top-0 start-0 h-100 align-items-start">
    <div class="container-fluid flex-column flex-nowrap align-items-start mx-3 my-4" id="ctnContent">

        <!-- Logo -->
        <h3 class="navbar-brand">LOGO</h3>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse mt-5" id="navbarNav">
            <ul class="navbar-nav d-flex flex-column">

                <li class="nav-item d-flex align-items-baseline">
                    <img class="iconNavbar" src="../../../../assets/home.png" alt="home">
                    <a class="nav-link px-2" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item d-flex align-items-baseline mt-3">
                    <img class="iconNavbar" src="../../../../assets/transferir.png" alt="transferir"
                        style="height: 18px;">
                    <a class="nav-link px-2" href="#">Transferir</a>
                </li>

                <li class="nav-item d-flex align-items-baseline mt-3">
                    <img class="iconNavbar" src="../../../../assets/sacar.png" alt="sacar">
                    <a class="nav-link px-2" href="#">Sacar</a>
                </li>

                <li class="nav-item d-flex align-items-baseline mt-3">
                    <img class="iconNavbar" src="../../../../assets/depositar.png" alt="depositar">
                    <a class="nav-link px-2" href="#">Depositar</a>
                </li>

                <li class="nav-item d-flex align-items-baseline mt-3">
                    <img class="iconNavbar" src="../../../../assets/registrarCartao.png" alt="registrar tarjeta">
                    <a class="nav-link px-2" aria-disabled="true">Registrar tarjeta</a>
                </li>
                <li class="nav-item d-flex align-items-baseline mt-3">
                    <img class="iconNavbar" src="../../../../assets/salir.png" alt="registrar tarjeta">
                    <a class="nav-link px-2" aria-disabled="true">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container position-absolute top-0 end-0 d-flex justify-content-end align-items-center py-2">
    <!-- Search -->
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div>
        <a class="nav-link px-2" aria-disabled="true"><img class="iconNavbar" src="../../../../assets/user.png" alt="usuario"></a>
    </div>
</div>