<div class="container-fluid p-0 d-flex">

    <!-- Title -->
    <div id="ctnTitle" class="col d-flex align-items-center justify-content-center">
        <h1>Bienvenidos a <span>Unicomer</span></h1>
    </div>


    <div id="ctnForm" class="col d-flex align-items-center justify-content-around flex-column">
        <!-- Logo -->
        <div class="row w-100 text-center">
            <h3 class="text-white">LOGO</h3>
        </div>

        <div class="row w-100">

            <div class="container-fluid d-flex align-items-center">
                <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <!-- Username -->
                    <div class="row">
                        <label for="username" class="text-white p-0 mb-2">
                            Nombre de usuario
                        </label>
                        <input type="text" class="p-0" id="username" name="username" [(ngModel)]="usernameInput"
                            required>
                        <span [hidden]="hideMessageErrorEmail" class="errorAlert">Usuario no regristrado</span>
                    </div>
                    <!-- Password -->
                    <div class="row mt-5">
                        <label for="password" class="text-white p-0 mb-2">Contraseña</label>
                        <input type="password" class="p-0" id="password" name="password" [(ngModel)]="passwordInput"
                            required>
                        <span [hidden]="hideMessageErrorPassword" class="errorAlert">Contraseña incorrecta</span>
                    </div>
                    <!-- Button -->
                    <div class="row mt-5">
                        <button [disabled]="loginForm.form.invalid" class="btn btn-light rounded-pill px-3"
                            type="submit">Ingressar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Register account link -->
        <div class="row w-100 text-center">
            <p class="text-white" style="font-weight: 300;">¿No tienes una cuenta?</p>
            <p><a class="text-white" routerLink="/register">¡Haga clic aquí para crear una!</a></p>
        </div>
    </div>


</div>